namespace HueMusicViz
{
    class Secrets
    {
        static public readonly string SPOTIFY_CLIENT_ID = "YOUR_SPOTIFY_APP_CLIENT_ID";
        static public readonly string SPOTIFY_CLIENT_SECRET = "YOUR_SPOTIFY_APP_CLIENT_SECRET";
    }
}
